doctype 5
html(lang="en")
  head
    != partial("_shared/head")
    != partial("_shared/GA")
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    != partial("_shared/nav")
      .img
    .content
        if current.path[0] === "index"
          .container
            #bighead
              .first-intro
                h1.intro I'm a Frontend Web Traveler.
              .second-intro
                h3.intro Check out my recent work & writing.
          .articles
            for post, slug in public.work._data
              if post.layout !== false
                article
                    .work(class="#{ slug }")
                      a(href="/work/#{ slug }")
                        .container
                          .col-sm-8.work-title
                            h1.sm= post.title                            
                            if post.description
                              p= post.description
                          .col-sm-4.work-image
                            //- h2.xs.date #{ post.date }
                            img(src='/images/#{ public.authors._data[post.author].photo }', alt='#{ public.authors._data[post.author].name }', class='author')
          != yield
        else
          if current.path[0] === "work"
            != partial("/work/_work")
          else if current.path[0] === "blog"
            != partial("/blog/_blog") 
          else if current.path[0] === "authors"
            != partial("/authors/_author")
          else if ["404", "about"].indexOf(current.path[0]) !== -1
            .container
              section.page
                != yield
  <script src="/js/responsive-nav.js"></script>
  script(type='text/javascript').
    var navigation = responsiveNav("#nav");
  if current.path[0] === "index"
    <script src="/js/foldresizer.min.js"></script>
    script(type='text/javascript').
      foldresizer('intro', 100, 0);
  
