meta(name='description', content=description)

meta(property='og:type', content='article')
meta(property='og:description', content=description)
meta(property='og:url', content=site_url + "/" + current.path[0] + "/" + current.path[1])

meta(property='og:image', content=site_url + logo)
meta(property='og:site_name', content=site_title)
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content="@" + site_twitter)

if public.authors._data[author].twitter
  meta(name='twitter:creator', content="@" + public.authors._data[author].twitter)

meta(name='twitter:title', content=locals.title ? title + " | " + site_title : site_title)
meta(name='twitter:description', content=description)
meta(name='twitter:image', content=site_url + logo)

//- if public.authors._data[author].google_plus
link(rel='author', href='#{ public.authors._data[author].google_plus }')