.container
  .articles
    each post, slug in public.blog._data
      if post.published!==false || environment=='production'
        article
            .row
              a(href="/blog/#{ slug }" class="#{ post.published==false ? 'unpublished' : '' }")
                  .col-sm-8.work-title
                    h1.sm= post.title                            
                    if post.description
                      p= post.description
                  .col-sm-4.work-image
                    h2.xs.date #{ post.date }
                      //- img(src='/images/#{ public.authors._data[post.author].photo }', alt='#{ public.authors._data[post.author].name }', class='author')